input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #1d1d1d inset !important;
  -webkit-text-fill-color: var(--color) !important;
}

.outer-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 50px 0 50px 0;
  height: max-content;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  box-sizing: border-box;
  overflow: hidden;
  box-sizing: border-box;
}
.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px 30px 40px;
  background-color: var(--container-bg-color);
  color: var(--color);
  border-radius: 20px;
  border: 1px solid #b5b3b3ae;
  box-sizing: border-box;
}
#filled-basic,
#filled-basic-label,
#standard-multiline-static,
#standard-multiline-static-label,
#filled-multiline-static,
#filled-multiline-static-label,
#filled-read-only-input,
#filled-read-only-input-label {
  color: var(--color);
}
#filled-multiline-static-label {
  padding-left: 12px;
}
#filled-multiline-static {
  padding: 12px;
}

#heading {
  text-align: center;
  color: var(--color);
  text-transform: uppercase;
}
.container * {
  margin: 2%;
  width: 100%;
  border-radius: 10%;
}

#login-link {
  text-align: center;
}
a {
  text-decoration: none;
  color: #4717f6;
}
