*{
  margin: 0;
  padding: 0;
  --background-color: rgb(21, 21, 21);
  /* --background-color: rgb(234, 234, 234); */
  --container-bg-color:#30303050;
  /* --container-bg-color:#c0c0c050; */
  --color:#e7dfdd;
  /* --color: black; */
}

body{
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden;
  letter-spacing: .5px

}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}