.bootcamp-section {
  width: 75%;
  margin: 30px auto;
  padding: auto;
  box-sizing: border-box;
}

.bootcamp-section-header {
  padding: 30px;
  border-radius: 15px;
  background-color: var(--container-bg-color);
  display: flex;
  flex-direction: row-reverse;
  row-gap: 1ch;
  column-gap: 1ch;
}
.bootcamp-title {
  text-transform: uppercase;
}
.bootcamp-info {
  flex-grow: 1;
  row-gap: 1ch;
}
.photo {
  height: auto;
  max-height: 300px;
  max-width: 300px;
  border-radius: 7px;
}
.courses-section {
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.course-container {
  display: flex;
  min-height: 370px;
  min-width: 32%;
  flex-direction: column;
  background-color: var(--container-bg-color);
  cursor: pointer;
  border-radius: 15px;
  flex: 1;
  padding: 15px;
  max-width: 33.3%;
  row-gap: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(134, 132, 132, 0.342);
}
.course-container * {
  flex-grow: 1;
}
.course-container h1 {
  text-transform: uppercase;
  font-weight: bolder;
}
.skill-bar {
  position: relative;
  width: 100%;
  min-height: 20px;
  max-height: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--background-color);
}
.required-skill-bar {
  position: absolute;
  height: inherit;
  font-size: small;
  font-weight: bolder;
  text-align: center;
  background-image: linear-gradient(0.25turn, #1b6585, #ebf8e1, #dd8a32);
  border-radius: inherit;
}
.bootcamp-opportunity-container {
  flex-direction: row;
  row-gap: 10px;
  font-size: larger;
  column-gap: 10px;
  box-sizing: border-box;
}
.bootcamp-opportunity-container * {
  width: fit-content;
  min-width: 0px;
}
.left-container,
.right-container {
  flex: 1 1 50%;
  height: inherit;
  text-align: center;
  font-weight: bold;
  flex-direction: column;
}

.left-container nav {
  padding-bottom: 1px;
  border-radius: 0;
  border-bottom: 2px solid var(--color);
  border-bottom-width: 2px;
  width: fit-content;
}
.review-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.review-container .review {
  padding: 20px;
  border-radius: 15px;
  display: inherit;
  flex-direction: column;
  row-gap: 5px;
  background-color: var(--container-bg-color);
}
.contained-container {
  position: absolute;
  bottom: 25px;
  right: 30px;
  color: var(--color);
  min-width: 0;
  max-width: 350px;
  width: max-content;
  min-height: 330px;
}
.courses{
  align-items: flex-start;
  height: 75vh;
  width: 20vw;
}
.courses *{
  flex: 1;
}
@media screen and (max-width: 770px) {
  .bootcamp-section-header {
    flex-direction: column;
  }
  .bootcamp-section{
    width: 85%;
  }
  .course-container {
    min-width: 100%;
    max-width: 100%;
  }
  .course-container h1 {
    font-size: large;
  }
  #course-description {
    display: block;
  }
  .bootcamp-opportunity-container {
    flex-direction: column;
  }
  .review-container {
    width: 100%;
  }
  .courses{
    height: max-content;
    align-items: center;
    text-align: center;
  }
  .contained-container {
    position: relative;
    width: 100%;
    right: 0;
    bottom: 0;
  }
  .contained-container{
    min-height: unset;
    max-height: fit-content !important;
  }
}
@media screen and (min-width: 660px) and (max-width: 1000px) {
  .resource-container {
    width: 85%;
  }
  .course-container {
    min-width: 49%;
    max-width: 50%;
  }
  .course-container h1 {
    font-size: x-large;
  }
  .review-container {
    width: 60%;
  }
  .courses{
    height: max-content;
    min-height: 600px;
  }
  .contained-container{
    min-height: unset;
    max-height: fit-content !important;
  } 
}
