#purple-green-bg {
  background-image: linear-gradient(
      130deg,
      rgba(154, 59, 227, 0.5),
      rgba(255, 210, 46, 0) 35.71%
    ),
    linear-gradient(
      320deg,
      rgba(40, 192, 141, 0.5),
      rgba(154, 59, 227, 0) 35.71%
    );
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    rgba(40, 192, 141, 0.5),
    rgba(255, 210, 46, 0) 20.71%,
    rgb(154, 59, 227, 0.5)
  );
  border-radius: 10px;
}

#red-blue-yellow-bg {
  background-image: linear-gradient(
      130deg,
      rgba(255, 56, 56, 0.5),
      rgba(255, 210, 46, 0) 40.71%
    ),
    linear-gradient(
      250deg,
      rgba(255, 210, 46, 0.5),
      rgba(255, 148, 41, 0) 40.71%
    ),
    linear-gradient(
      360deg,
      rgba(28, 85, 232, 0.5),
      rgba(154, 59, 227, 0) 20.71%
    );
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    rgba(255, 210, 46, 0.5),
    rgba(28, 85, 232, 0.8),
    rgba(255, 210, 46, 0) 40.71%,
    rgba(255, 56, 83)
  );
}

#orange-blue-bg {
  background-image: linear-gradient(
      130deg,
      rgba(255, 148, 41, 0.5),
      rgba(255, 210, 46, 0) 35.71%
    ),
    linear-gradient(
      320deg,
      rgba(28, 85, 232, 0.8),
      rgba(154, 59, 227, 0) 35.71%
    );
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    rgba(28, 85, 232, 0.8),
    rgba(255, 210, 46, 0) 30.71%,
    rgba(255, 148, 41, 0.5)
  );
  border-radius: 10px;
}

#heading-underline {
  width: max-content;
  text-transform: uppercase;
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  padding-bottom: 3px;
  font-weight: 900;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#heading-color {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 600px) {
  #heading-underline {
    font-size: large;
  }
}
